{% extends "home/layout.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
	<!--  All snippets are MIT license http://bootdey.com/license -->
	<title>white chat - Bootdey.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<main class="content" style="margin: 20px;">
		<div class="container p-0">
			<div class="card">
				<!-- DIVIDE IZQUIERDA Y DERECHA -->
				<div class="row g-0">
					<!-- COLUMNA IZQUIERDA -->
					<div class="col-12 col-lg-5 col-xl-3 border-right">
						<!-- BUSCADOR -->
						<div class="px-4 d-none d-md-block">
							<div class="d-flex align-items-center">
								<div class="flex-grow-1">
									<form method="GET">
										<input type="text" id='q' name='q' class="form-control my-3" placeholder="Search...">
									</form>
								</div>
							</div>
						</div>
						<!-- LISTADO USUARIOS -->
						{% for user in users %}
						<a href="{% url 'chat:Room' user.username %}" class="list-group-item list-group-item-action border-0"
							style="border-bottom: 1px solid #dee2e6 !important;">
							<div class="d-flex align-items-start">
								<img src='{{user.avatar}}' class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
								<div class="flex-grow-1 ml-3" style="margin-top: 8px;">
									{{user.username}}
								</div>
							</div>
						</a>
						{% endfor %}
						<hr class="d-block d-lg-none mt-1 mb-0">
					</div>
					<!-- COLUMNA DERECHA -->
					{% if user_to_chat %}
					<div class="col-12 col-lg-7 col-xl-9" style="min-height: calc(100vh - 170px);">
						<!-- ENCABEZADO -->
						<div class="py-2 px-4 border-bottom d-none d-lg-block">
							<div class="d-flex align-items-center py-1">
								<div class="position-relative">
									<img src="{{avatar}}" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
								</div>
								<div class="flex-grow-1 pl-3">
									<strong>{{user_to_chat.first_name}} {{user_to_chat.last_name}}</strong>
								</div>
							</div>
						</div>
						<!-- COLUMNA MENSAJES -->
						<div class="position-relative">
							<!-- MENSAJES -->
							<div class="chat-messages p-4">
								{% for message in messages %}
								{% if request.user.id == message.user_id %}
								<div class="chat-message-right pb-4">
									<div>
										<img src="{{my_avatar}}" class="rounded-circle mr-1" width="40" height="40">
										<div class="text-muted small text-nowrap mt-2">{{message.time}}</div>
									</div>
									<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
										<div class="font-weight-bold mb-1">Tú</div>
										{{message.text}}
									</div>
								</div>
								{% else %}
								<div class="chat-message-left pb-4">
									<div>
										<img src="{{avatar}}" class="rounded-circle mr-1" width="40" height="40">
										<div class="text-muted small text-nowrap mt-2">{{message.time}}</div>
									</div>
									<div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
										<div class="font-weight-bold mb-1">{{user_to_chat.first_name}} {{user_to_chat.last_name}}</div>
										{{message.text}}
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						<!-- INPUT MENSAJE -->
						<div class="flex-grow-0 py-3 px-4 border-top">
							<form method="POST" class="input-group"> {% csrf_token %}
								<tr>
									<td>
										<input name="text" class="form-control" maxlength="500" required id="id_text"
											placeholder="Escribe tu mensaje ...">
										</input>
										<button type="submit" class="btn btn-primary">Enviar</button>
									</td>
								</tr>
							</form>
						</div>
						<!-- FINAL -->
					</div>
					{%else%}
					<div class="col-12 col-lg-7 col-xl-9"
						style="min-height: calc(100vh - 170px); display: flex; justify-content: center; align-items: center;">
						<h1>Elegí con quien chatear</h1>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</main>

	<style type="text/css">
		.chat-online {
			color: #34ce57
		}

		.chat-offline {
			color: #e4606d
		}

		.chat-messages {
			display: flex;
			flex-direction: column;
			height: calc(100vh - 300px);
			overflow-y: scroll
		}

		.chat-message-left,
		.chat-message-right {
			display: flex;
			flex-shrink: 0
		}

		.chat-message-left {
			margin-right: auto
		}

		.chat-message-right {
			flex-direction: row-reverse;
			margin-left: auto
		}

		.py-3 {
			padding-top: 1rem !important;
			padding-bottom: 1rem !important;
		}

		.px-4 {
			padding-right: 1.5rem !important;
			padding-left: 1.5rem !important;
		}

		.flex-grow-0 {
			flex-grow: 0 !important;
		}

		.border-top {
			border-top: 1px solid #dee2e6 !important;
		}
	</style>

	<script type="text/javascript">

	</script>
</body>

</html>
{% endblock %}