{% extends "home/layout.html" %}
{% load static %}
{% block content %}

<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Crear Blog</h1>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-9">
          <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{form.media}}
            <tr class="form-floating mb-3">
              <th><label style="margin-top: 10px" for="id_title">Titulo:</label></th>
              <td>
                <input class="form-control" type="text" name="title" maxlength="50" required id="id_title">
              </td>
            </tr>
            <tr class="form-floating mb-3">
              <th><label style="margin-top: 10px" for="id_subtitle">Subtitulo:</label></th>
              <td>
                <input class="form-control" type="text" name="subtitle" maxlength="100" required id="id_subtitle">
              </td>
            </tr>
            <tr class="form-floating mb-3">
              <th><label style="margin-top: 10px" for="id_body">Cuerpo:</label></th>
              <td>
                <div class="django-ckeditor-widget" data-field-id="id_body" style="display: inline-block;">
                  <textarea name="body" cols="40" rows="10" required id="id_body" data-processed="0"
                    data-config="{&quot;skin&quot;: &quot;moono-lisa&quot;, &quot;toolbar_Basic&quot;: [[&quot;Source&quot;, &quot;-&quot;, &quot;Bold&quot;, &quot;Italic&quot;]], &quot;toolbar_Full&quot;: [[&quot;Styles&quot;, &quot;Format&quot;, &quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;, &quot;Strike&quot;, &quot;SpellChecker&quot;, &quot;Undo&quot;, &quot;Redo&quot;], [&quot;Link&quot;, &quot;Unlink&quot;, &quot;Anchor&quot;], [&quot;Image&quot;, &quot;Flash&quot;, &quot;Table&quot;, &quot;HorizontalRule&quot;], [&quot;TextColor&quot;, &quot;BGColor&quot;], [&quot;Smiley&quot;, &quot;SpecialChar&quot;], [&quot;Source&quot;]], &quot;toolbar&quot;: &quot;Full&quot;, &quot;height&quot;: 291, &quot;width&quot;: 835, &quot;filebrowserWindowWidth&quot;: 940, &quot;filebrowserWindowHeight&quot;: 725, &quot;filebrowserUploadUrl&quot;: &quot;/ckeditor/upload/&quot;, &quot;filebrowserBrowseUrl&quot;: &quot;/ckeditor/browse/&quot;, &quot;language&quot;: &quot;en-us&quot;}"
                    data-external-plugin-resources="[]" data-id="id_body" data-type="ckeditortype"></textarea>
                </div>
              </td>
            </tr>
            <tr class="form-floating mb-3">
              <th><label style="margin-top: 10px" for="id_image">Imagen:</label></th>
              <td>
                <input class="form-control" type="file" name="image" accept="image/*" id="id_image">
              </td>
            </tr>
            <div class="alert alert-warning" role="alert" style="text-align: center;margin-top: 15px;">Asegurese de
              completar todos los
              campos antes de enviar</div>
            <button class="btn btn-primary" style="width: 100%;" type="submit">Crear</button>
          </form>
        </div>
      </div>
    </div>
</section>


{% endblock %}