{% extends "home/layout.html" %}
{% load static %}
{% block content %}



<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Registrarse</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form action="" method="POST">{% csrf_token %}
                        <form method="POST">{% csrf_token %}
                            <tr class="form-floating mb-3">
                                <th><label for="id_username" style="margin-top: 10px">Nombre de usuario:</label></th>
                                <td>
                                    <input class="form-control" type="text" name="username" minlength="3" autofocus
                                        required id="id_username">
                                </td>
                                {% if errors %}
                                {% for error in errors.username %}
                                <p style="color: red; margin: 2px;">{{error}}</p>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            <tr class="form-floating mb-3">
                                <th><label style="margin-top: 10px" for="id_first_name">Nombre:</label></th>
                                <td>
                                    <input class="form-control" type="text" name="first_name" minlength="3" required
                                        id="id_first_name">
                                </td>
                            </tr>
                            <tr class="form-floating mb-3">
                                <th><label style="margin-top: 10px" for="id_last_name">Apellido:</label></th>
                                <td>
                                    <input class="form-control" type="text" name="last_name" minlength="3" required
                                        id="id_last_name">
                                </td>
                            </tr>
                            <tr class="form-floating mb-3">
                                <th><label for="id_email" style="margin-top: 10px">Correo electrónico:</label></th>
                                <td>
                                    <input class="form-control" type="email" name="email" required id="id_email">
                                </td>
                                {% if errors %}
                                {% for error in errors.email %}
                                <p style="color: red; margin: 2px;">{{error}}</p>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            <tr class="form-floating mb-3">
                                <th><label for="id_password1" style="margin-top: 10px">Contraseña:</label></th>
                                <td>
                                    <input class="form-control" type="password" name="password1" required
                                        id="id_password1">
                                </td>
                            </tr>
                            <tr class="form-floating mb-3">
                                <th><label for="id_password2" style="margin-top: 10px">Confirmar la contraseña:</label>
                                </th>
                                <td>
                                    <input class="form-control" type="password" name="password2" required
                                        id="id_password2">
                                </td>
                            </tr>
                            {% if errors %}
                            {% for error in errors.password2 %}
                            <p style="color: red; margin: 2px;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <button class="btn btn-primary" style="width: 540px; margin-top: 10px"
                                type="submit">Registrate</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}